In [2]:
import pandas as pd
import numpy as np
import geopandas as gp
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/Users/nabilboukir/Desktop/Projet_python/consommation_annuelle_IRIS.csv', sep=';')
# Données issues de https://www.data.gouv.fr/fr/datasets/consommation-annuelle-residentielle-par-adresse/

In [5]:
df.head()

,annee,code_iris,nom_iris,numero_de_voie,indice_de_repetition,type_de_voie,libelle_de_voie,code_commune,nom_commune,segment_de_client,nombre_de_logements,consommation_annuelle_totale_de_l_adresse_mwh,consommation_annuelle_moyenne_par_site_de_l_adresse_mwh,consommation_annuelle_moyenne_de_la_commune_mwh,adresse,tri_des_adresses
0,2019,761570502,Cité Rose-Zone b,18.0,NaN,AVENUE,CHARLES GOUNOD,76157,Canteleu,RESIDENTIEL,16,26.841,1.678,2.955,18 AVENUE CHARLES GOUNOD,60004
1,2019,761570502,Cité Rose-Zone b,10.0,NaN,AVENUE,CHARLES GOUNOD,76157,Canteleu,RESIDENTIEL,18,26.484,1.471,2.955,10 AVENUE CHARLES GOUNOD,60008
2,2019,761570502,Cité Rose-Zone b,6.0,NaN,AVENUE,CHARLES GOUNOD,76157,Canteleu,RESIDENTIEL,18,45.016,2.501,2.955,6 AVENUE CHARLES GOUNOD,60011
3,2019,761570501,Cité Rose-Zone a,12.0,NaN,BOULEVARD,CLAUDE MONET,76157,Canteleu,RESIDENTIEL,24,39.286,1.637,2.955,12 BOULEVARD CLAUDE MONET,60019
4,2019,761570501,Cité Rose-Zone a,10.0,NaN,BOULEVARD,CLAUDE MONET,76157,Canteleu,RESIDENTIEL,16,25.507,1.594,2.955,10 BOULEVARD CLAUDE MONET,60020

In [6]:

df['code_valide'] = df['code_iris'].apply(lambda str: 'False' if str[5:] == 'xxxx' else 'True')

df_inutilisable = df.loc[df['code_valide'] == 'False']

In [7]:
L = df_inutilisable['nom_commune'].drop_duplicates()
L

#On a 170 communes qui contiennent des IRIS qu'on ne peut pas utiliser puisq'ils n'existent pas
#On peut les aggreger et les mettre sous un seul IRIS qu'on va créer ou choisir des communes

462                        Cergy
3334                 Vernouillet
3358                  Versailles
3548            Vert-Saint-Denis
4972          Évry-Courcouronnes
                   ...
1438418      Templeuve-en-Pévèle
1455809                   Vannes
1509434      Issy-les-Moulineaux
1543025               Villepinte
1577774    Carrières-sous-Poissy
Name: nom_commune, Length: 170, dtype: object

In [8]:
df = df.loc[df['code_valide'] == 'True']
df['code_iris'] = df['code_iris'].astype(int)
df = df.sort_values("code_iris")

In [9]:
df.keys()

Index(['annee', 'code_iris', 'nom_iris', 'numero_de_voie',
       'indice_de_repetition', 'type_de_voie', 'libelle_de_voie',
       'code_commune', 'nom_commune', 'segment_de_client',
       'nombre_de_logements', 'consommation_annuelle_totale_de_l_adresse_mwh',
       'consommation_annuelle_moyenne_par_site_de_l_adresse_mwh',
       'consommation_annuelle_moyenne_de_la_commune_mwh', 'adresse',
       'tri_des_adresses', 'code_valide'],
      dtype='object')

In [10]:
type(df["code_iris"][0])

numpy.int64

In [11]:
Poly_IRIS = gp.read_file('/Users/nabilboukir/Desktop/Projet_python/iris-2013-01-01/iris-2013-01-01.shx')

#Fichier contenant le contour géographique du découpade en IRIS et leur type. La projection est WGS84
#Données issues de https://www.data.gouv.fr/fr/datasets/contour-des-iris-insee-tout-en-un/

In [12]:
Poly_IRIS = Poly_IRIS.sort_values("DCOMIRIS")
Poly_IRIS = Poly_IRIS.rename(columns = {'DCOMIRIS' : 'code_iris'})
Poly_IRIS.head()

,DEPCOM,NOM_COM,IRIS,code_iris,NOM_IRIS,TYP_IRIS,ORIGINE,geometry
25855,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ..."
331243,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ..."
382141,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ..."
433039,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ..."
229447,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ..."

In [13]:
Poly_IRIS.head()

,DEPCOM,NOM_COM,IRIS,code_iris,NOM_IRIS,TYP_IRIS,ORIGINE,geometry
25855,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ..."
331243,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ..."
382141,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ..."
433039,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ..."
229447,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ..."

In [14]:

Poly_IRIS['code_valide'] = Poly_IRIS['code_iris'].apply(lambda str: 'True' if str.isnumeric() else 'False')

Poly_Iris_inutilisable = Poly_IRIS.loc[Poly_IRIS['code_valide'] == 'False']

In [15]:
L2 = Poly_Iris_inutilisable['NOM_COM'].drop_duplicates()
L2

115269                       AFA
115305                   AJACCIO
471699                     ALATA
115387               ALBITRECCIA
166172                  ALTAGENE
                   ...
471875                    ZALANA
268138                     ZILIA
471740                     ZUANI
370008    SAN-GAVINO-DI-FIUMORBO
166532                     CHISA
Name: NOM_COM, Length: 360, dtype: object

In [16]:
Poly_IRIS = Poly_IRIS.loc[Poly_IRIS['code_valide'] == 'True']
Poly_IRIS.head()

,DEPCOM,NOM_COM,IRIS,code_iris,NOM_IRIS,TYP_IRIS,ORIGINE,geometry,code_valide
25855,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ...",True
331243,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ...",True
382141,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ...",True
433039,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ...",True
229447,01001,L'ABERGEMENT-CLEMENCIAT,0000,010010000,L'ABERGEMENT-CLEMENCIAT,Z,None,"POLYGON ((4.90936 46.12916, 4.91492 46.14127, ...",True

In [17]:
Poly_IRIS['code_iris'] = pd.to_numeric(Poly_IRIS['code_iris'])

#essayer dans les deux bases de donnees d'utiliser apply(to_numeric, errors='ignore') pour voir si on peut garder la corse

In [18]:
df2 = df.merge(Poly_IRIS, left_on = 'code_iris' , right_on = 'code_iris')

In [19]:
df2['TYP_IRIS'].drop_duplicates()

0         H
3640      Z
119490    A
214980    D
Name: TYP_IRIS, dtype: object

In [20]:
df2.keys()
#On va étudier la conse par IRIS donc, supprime les colonnes dont on a pas besoin, à savoir 'nom_commune', nom_iris' , 'segment_de_client', 'numero_de_voie', 'indice_de_repetition', 'type_de_voie'
# 'libelle_de_voie', 'code_commune', 'tri_des_adresses', 'adresse', 'code_valide_x', 'code_valide_y'

Index(['annee', 'code_iris', 'nom_iris', 'numero_de_voie',
       'indice_de_repetition', 'type_de_voie', 'libelle_de_voie',
       'code_commune', 'nom_commune', 'segment_de_client',
       'nombre_de_logements', 'consommation_annuelle_totale_de_l_adresse_mwh',
       'consommation_annuelle_moyenne_par_site_de_l_adresse_mwh',
       'consommation_annuelle_moyenne_de_la_commune_mwh', 'adresse',
       'tri_des_adresses', 'code_valide_x', 'DEPCOM', 'NOM_COM', 'IRIS',
       'NOM_IRIS', 'TYP_IRIS', 'ORIGINE', 'geometry', 'code_valide_y'],
      dtype='object')

In [21]:
df2 = df2.drop(columns=['nom_commune' , 'nom_iris' , 'segment_de_client' , 'numero_de_voie' , 'indice_de_repetition' , 'type_de_voie' , 'libelle_de_voie' , 'code_commune' , 'tri_des_adresses' , 'adresse' , 'code_valide_x' , 'code_valide_y'])

In [22]:
#On aggrège la consommation et le nombre de logeùent par IRIS pour mener notre étude descriptive
df2[['code_iris' , 'consommation_annuelle_totale_de_l_adresse_mwh' , 'annee']].groupby(['code_iris','annee']).sum()
df2.keys()

Index(['annee', 'code_iris', 'nombre_de_logements',
       'consommation_annuelle_totale_de_l_adresse_mwh',
       'consommation_annuelle_moyenne_par_site_de_l_adresse_mwh',
       'consommation_annuelle_moyenne_de_la_commune_mwh', 'DEPCOM', 'NOM_COM',
       'IRIS', 'NOM_IRIS', 'TYP_IRIS', 'ORIGINE', 'geometry'],
      dtype='object')

In [24]:
df2 = df2.merge(df2.groupby(['DEPCOM','annee']).consommation_annuelle_totale_de_l_adresse_mwh.sum(), left_on = ['DEPCOM' , 'annee'] , right_on = ['DEPCOM' , 'annee'] , suffixes = ('','_agreg' ))
df2.head()

,annee,code_iris,nombre_de_logements,consommation_annuelle_totale_de_l_adresse_mwh,consommation_annuelle_moyenne_par_site_de_l_adresse_mwh,consommation_annuelle_moyenne_de_la_commune_mwh,DEPCOM,NOM_COM,IRIS,NOM_IRIS,TYP_IRIS,ORIGINE,geometry,consommation_annuelle_totale_de_l_adresse_mwh_agreg
0,2020,10040101,14,22.398,1.6,4.544,01004,AMBERIEU-EN-BUGEY,0101,LES PEROUSES-TRIANGLE D'ACTIVITE,H,None,"POLYGON ((5.32764 45.95785, 5.32747 45.95813, ...",49114.43
1,2020,10040101,14,22.398,1.6,4.544,01004,AMBERIEU-EN-BUGEY,0101,LES PEROUSES-TRIANGLE D'ACTIVITE,H,None,"POLYGON ((5.32764 45.95785, 5.32747 45.95813, ...",49114.43
2,2020,10040101,14,22.398,1.6,4.544,01004,AMBERIEU-EN-BUGEY,0101,LES PEROUSES-TRIANGLE D'ACTIVITE,H,None,"POLYGON ((5.32764 45.95785, 5.32747 45.95813, ...",49114.43
3,2020,10040101,14,22.398,1.6,4.544,01004,AMBERIEU-EN-BUGEY,0101,LES PEROUSES-TRIANGLE D'ACTIVITE,H,None,"POLYGON ((5.32764 45.95785, 5.32747 45.95813, ...",49114.43
4,2020,10040101,14,22.398,1.6,4.544,01004,AMBERIEU-EN-BUGEY,0101,LES PEROUSES-TRIANGLE D'ACTIVITE,H,None,"POLYGON ((5.32764 45.95785, 5.32747 45.95813, ...",49114.43

In [25]:
df2.groupby(['DEPCOM','annee']).consommation_annuelle_totale_de_l_adresse_mwh.sum()
#On peut vérifier qu'on a obtenu les valeurs souhaités

DEPCOM  annee
01004   2018      43907.09
        2019      44638.25
        2020      49114.43
        2021      50408.43
01007   2018        193.98
                   ...
95680   2021     207612.09
95682   2018       1166.14
        2019       1031.97
        2020        949.64
        2021        978.95
Name: consommation_annuelle_totale_de_l_adresse_mwh, Length: 25965, dtype: float64

In [26]:
df2 = df2.merge(df2.groupby(['DEPCOM','annee']).nombre_de_logements.sum(), left_on = ['DEPCOM' , 'annee'] , right_on = ['DEPCOM' , 'annee'] , suffixes = ('','_agreg' ))

In [27]:
gdf = gp.GeoDataFrame(df2 ,geometry='geometry' , crs = 'WGS84')

In [28]:
gdf['Departement'] = gdf['DEPCOM'].apply(lambda str: str[:2])
gdf.head()

,annee,code_iris,nombre_de_logements,consommation_annuelle_totale_de_l_adresse_mwh,consommation_annuelle_moyenne_par_site_de_l_adresse_mwh,consommation_annuelle_moyenne_de_la_commune_mwh,DEPCOM,NOM_COM,IRIS,NOM_IRIS,TYP_IRIS,ORIGINE,geometry,consommation_annuelle_totale_de_l_adresse_mwh_agreg,nombre_de_logements_agreg,Departement
0,2020,10040101,14,22.398,1.6,4.544,01004,AMBERIEU-EN-BUGEY,0101,LES PEROUSES-TRIANGLE D'ACTIVITE,H,None,"POLYGON ((5.32764 45.95785, 5.32747 45.95813, ...",49114.43,17420,01
1,2020,10040101,14,22.398,1.6,4.544,01004,AMBERIEU-EN-BUGEY,0101,LES PEROUSES-TRIANGLE D'ACTIVITE,H,None,"POLYGON ((5.32764 45.95785, 5.32747 45.95813, ...",49114.43,17420,01
2,2020,10040101,14,22.398,1.6,4.544,01004,AMBERIEU-EN-BUGEY,0101,LES PEROUSES-TRIANGLE D'ACTIVITE,H,None,"POLYGON ((5.32764 45.95785, 5.32747 45.95813, ...",49114.43,17420,01
3,2020,10040101,14,22.398,1.6,4.544,01004,AMBERIEU-EN-BUGEY,0101,LES PEROUSES-TRIANGLE D'ACTIVITE,H,None,"POLYGON ((5.32764 45.95785, 5.32747 45.95813, ...",49114.43,17420,01
4,2020,10040101,14,22.398,1.6,4.544,01004,AMBERIEU-EN-BUGEY,0101,LES PEROUSES-TRIANGLE D'ACTIVITE,H,None,"POLYGON ((5.32764 45.95785, 5.32747 45.95813, ...",49114.43,17420,01

In [29]:
gdf.loc[gdf['Departement']== '92' ].explore(column="NOM_COM", tooltip="consommation_annuelle_totale_de_l_adresse_mwh_agreg",popup=True,tiles="CartoDB positron",cmap="Set1",style_kwds=dict(color="black"))